.toolbar-button{color:white; }
.button-share{background-color: #0A3246; color:#AAA078; width:100%;}
.toolbar-button--quiet{color:#333;}

.onsen-sliding-menu__menu .page__background{background:#ffffff;}
.onsen-sliding-menu__menu .navigation-bar__title{color:white}
.onsen-sliding-menu__menu .list{background-color:#ffffff; color:#ffffff}
.onsen-sliding-menu__menu .list__item{color:#000000; background-image: none; font-size: 12px; text-align: center;}
