<ons-page ng-controller="MenuController">
	
	
    <ons-toolbar>
        <div class="center"> 
                               </div>
    </ons-toolbar>
	

    <ons-list class="list-top">
        <div style="text-align:center;"><img src="res/logo.png" height="100px" width="100px" style="margin-bottom:30px;"/> </div>
        <ons-list-item  ng-repeat="item in items" ng-click="showDetail($index)">
            <ons-row>
               <!-- <ons-col width="15%">
                    
                </ons-col>-->
                <ons-col>
                    {{item.title}}
                </ons-col>
            </ons-row>
        </ons-list-item>
		
    <!--<ons-list-item modifier="chevron" ng-show="options.geolocation_enabled" ng-click="showMap()">
            <ons-row>
                <ons-col width="15%">
                    <ons-icon icon="fa-map-marker"></ons-icon>
                </ons-col>
                <ons-col>
                    Location
                </ons-col>
            </ons-row>
        </ons-list-item>-->
    </ons-list>

</ons-page>